---
import Section from "../Section.astro";
import CV from "@cv";
const { summary } = CV.basics;
---

<Section title="About">
  <p class="text-sm leading-7 text-skin-muted sm:text-base">{summary}</p>
</Section>
