---
import Section from "../Section.astro";
import CV from "@cv";
const { qoute } = CV.basics;
---

<Section title="Qoute">
  <p class="text-sm leading-7 text-skin-muted sm:text-base">{qoute}</p>
</Section>
