---
import Section from "../Section.astro";
import { skills } from "@cv";
import { Icon } from "astro-icon/components";
---

<Section className={Astro.props.className} title="Skills">
  <ul class="flex flex-wrap gap-2 sm:gap-3">
    {skills.map(({ name, icon, level }) => (
      <li class="tag" title={level}>
        {icon && <Icon name={icon} width={14} height={14} />}
        <span>{name}</span>
      </li>
    ))}
  </ul>
</Section>
