---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";

import CV, { basics } from "@cv";
import Education from "@/components/sections/Education.astro";
import Images from "@/components/sections/Images.astro";
import Qoute from "@/components/sections/Qoute.astro";
import Contacts from "@/components/sections/Contacts.astro";
import Certificates from "@/components/sections/Certificates.astro";
const { name, label } = basics;
---

<Layout title={`${name}'s Portfolio - ${label}`}>
  <main class="w-full gap-8 px-8 py-10 lg:grid lg:grid-cols-12 lg:gap-10 lg:px-14 lg:py-12">
    <aside class="space-y-8 lg:col-span-3">
      <Hero />
      <Skills />
      <Education />
      <Certificates />
      <Contacts />
    </aside>

    <section class="space-y-8 lg:col-span-5">
      <Qoute />
      <About />
      <Experience />
    </section>

    <aside class="space-y-8 lg:col-span-4">
      {CV?.images && <Images />}
      <Projects />

    </aside>
  </main>
</Layout>
